doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/neon.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/font-icons/entypo/animation.css')
    link(rel='stylesheet', href='/stylesheets/font-icons/entypo/entypo.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic')
    link(rel='stylesheet', href='/javascripts/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css')
  body
    block content